/* Pontano+Sans */

@import url(//fonts.googleapis.com/css?family=Jura:400);
@import url(//fonts.googleapis.com/css?family=Pontano+Sans);

:root {
    --header-color: #fff;
    --background-color: #fff;
    --header-primary: #292253;
    --footer-color: #292253;
    --tab-selected: #7f76b1;
    --tab-hover: #c8c3e9;
    --link-primary: #292253;
    --link-secondary: #ffb52b;

    --event-2n: #f5f4f7;
	
    --width: 1100px;
}
ul {
    list-style-type: none;
}

footer {
	display: flex;
	justify-content: center;
}
body {
	background: var(--background-color);
	color: #777;
	margin:0;
	padding:0;
	font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
nav ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-transform: uppercase;
	font-size: 12px;
	gap: 40px;
}
header {
	display: flex;
	justify-content: center;
}
nav ul li:last-child {
}
nav ul li a {
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}

nav li {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 3px solid white;
}

nav li:hover {
	border-bottom: 3px solid var(--tab-hover);
}
nav li.selected {
	border-bottom: 3px solid var(--tab-selected);
}

header {
	background-color: var(--header-color);
	position: sticky;
	top: 0px;
}

nav {
	background-color: var(--header-color);
	position: sticky;
	top: 50px;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 1px solid lightgray;
}

footer {
	background-color: var(--footer-color);
	font-size: 12px;
	padding-top: 36px;
	padding-bottom: 36px;
	padding-left: 36px;
	padding-right: 36px;
	margin-top: 36px;
}
footer > div {
	display: flex;
	flex-direction: row;
	gap: 80px;
}


footer h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--header-color);
}
footer a {
	color:  var(--header-color);
}
footer a:hover {
	color:  var(--link-secondary);
}

#body h1,#body h2,#body h3,#body h4 {
	color: var(--link-primary);
}


#news-list li {
	padding: 0px;
	padding-bottom: 12px;
	font-size: smaller;
}
	
.events {

}
.events .event:nth-child(2n+1){
	background-color: var(--event-2n);
}
.event {
	display: block;
	padding: 10px;
}
.event-date {
	text-transform: uppercase;
	font-weight: bold;
}
.event-name {
	font-weight: bold;
}
.event-name:before {
	content: " - ";
}
.event-description {
	display: block;
}



.download {
	display: block;
	margin-top: 10px;
	margin-bottom: 64px;
	padding: 30px;
	background-color: var(--event-2n);
}
.download-date {
	text-transform: uppercase;
	font-weight: bold;
}
.download-name {
	font-size: x-large;
	font-weight: bold;
}
.download-description {
	display: block;
	font-weight: bold;
}



h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
}
footer a {
	color:  var(--header-color);
}
footer a:hover {
	color:  var(--link-secondary);
}


#body {
	display: flex;
	flex-direction: row;
    justify-content: center;
	gap: 20px;
	
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;

}
sections {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 850px;
}

@media (max-width:800px)  {
	aside {
		display: none;
	}
}

aside {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 300px;
}
aside img {
	border: 1px solid #4E387E;
}


* {
	margin:0;
	padding:0;
}

.logo-left {
	padding-top: 5px;
	text-align: left;
	padding-right: 5px;
}

th, td {
	padding: 10px 10px;
}
th {
	color: #4E387E;
	background: #F8F8F8 none repeat-x scroll left top;
}

nav a {
	font-weight: bold;
	color:  var(--link-primary);
}

nav a:hover {
	color:  var(--link-secondary);
}